<footer class="footer" style="padding:10px">
  <small>
    Joshua's Big Day
    <br>
    Work in Progress
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://img0.liveinternet.ru/images/attach/c/5/3970/3970473_sprite198.swf">News</a></li>
    </ul>
  </nav>
</footer>